{% extends 'inventory/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<a href="{% url 'dashboard' %}" class="btn btn-outline-secondary mt-3 mb-3">Back to Dashboard</a>
<div class="row">

    <div class="col-11 col-md-6 mx-auto mt-5">
        <h1 class="text-center mb-4">Add New Inventory Item</h1>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-grid gap-2 mt-3">
                <button type="submit" class="btn btn-primary">Add Item</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}